* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../images/pattern.png);
    background-color: rgba(78, 160, 255, 1);
    background-size: 30%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#logo-file {
    max-width: 20%;
    padding: 2rem 0 1rem 0;
}

.title {
    padding: 1rem 0;
}

.grey {
    color: gray;
}

a {
    color: rgba(78, 160, 255, 1);
    text-decoration: none;
}

ul {
    padding: 0 0 30px 1rem;
}

.container > p {
    padding: 1rem 0 2rem 0;
}

table {
    padding-top: 2rem;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: rgba(32, 169, 229, 1);;
}

.left {
    width: 25%;
    text-align: left;
}

.center {
    width: 25%;
    text-align: left;
}

.right {
    text-align: left;
}

.cell-lightblue {
    background-color: rgba(177, 229, 242, 1);
}

h3 {
    color: gray;
    margin-bottom: 1rem;
}
