* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../images/pattern.png);
    background-color: rgba(78, 160, 255, 1);
    background-repeat: repeat;
}

.title {
    padding: 1rem 0;
}

.logo-container {
    width: 80%;
    margin: 0 auto;
}

#logo-file {
    max-width: 10%;
    padding: 2rem 0 1rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    color: rgba(78, 160, 255, 1);
    text-decoration: none;
}

.container > p {
    padding: 1rem 0 2rem 0;
}

table {
    padding-top: 2rem;
}

th {
    color: white;
    background-color: rgba(32, 169, 229, 1);;
}

h3 {
    color: gray;
    margin-bottom: 1rem;
}